.title {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}
